# Ignore all
*

# Whitelist top-level of repo/home
!.gitignore
!.bash_profile
!.bashrc
!.tmux.conf
!.vimrc
!.xinitrc
!.xserverrc
!README.md

# Handle config:
!.config
!.config/yapf/*
!.config/gtk-3.0/*
!.config/custom
!.config/custom
!.config/custom/*
!.config/custom/*/*
!.config/discord
!.config/discord/*

# Dots repo files that are either notes or manual configurations
!dots
!dots/*
!dots/*/*
!dots/*/*/*

# Mozilla (.mozilla/firefox) is a special case...
!.mozilla/firefox/*userChrome.css
