# Ignore all
*

# Whitelist top-level of repo/home
!.gitignore
!.bash_profile
!.bashrc
!.tmux.conf
!.vimrc
!.xinitrc
!.xserverrc
!README.md

# Handle config:
!.config
!.config/rice

# Dots repo files that are either notes or manual configurations
!dots

# Mozilla (.mozilla/firefox) is a special case...
!.mozilla/firefox/*userChrome.css
