! Load the theme variables
#include ".Xresources.d/color_scheme"
#include ".Xresources.d/fonts"


! For each application
#include ".Xresources.d/urxvt"
!#include ".Xresources.d/rofi"

! run compton at start up.
compton -b --config .config/compton.conf
