/* userChrome.css is for modifying user specific Firefox css */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* only needed once */

/* Removing the scroll bar from firefox windows */
:-moz-any(#content,#appcontent) browser{
    /* NOTE the margine removal is permanent, even when no scroll bar.
     * Uncertain of workaround.
     */
    margin-right:-14px!important;
    overflow-y:scroll;
    /* removed because the bottom scroll bar is much rarer.
    margin-bottom:-14px!important;
    */
    overflow-x:scroll;
}

/* can we universally change all scroll bars to be Dark, rather than white and light gray? */

/* can we hide the scroll bar when not scrolling? if so can we make it transparent as well? */

/* Remove the back button */
/*
#back-button { display: none !important; }
*/

/* Remove the forward button */
/*
#forward-button { display: none !important; }
*/

/* Hides Net Tab Button */
/*
#new-tab-button, .tabs-newtab-button {
  display: none !important;
  transform: scale(1, 1.9) !important;
}
*/

/* change bookmark toolbar menu size */
/*
menuitem, menu {
  padding: 0 !important;
  font-size: 12px !important;
}
.menu-iconic-left {
   transform: scale(0.8) !important;
}
*/
/* Shrinks Tab bar height */
/*
#TabsToolbar, .tabbrowser-tab {
  max-height: 20px !important;
}
*/
/* Cheating way of losing the bottom excess of navbar */
/*
#nav-bar {
  max-height: 23px !important;
  font-size: 10px !important;
  margin-top: -10px !important;
}
*/

/* removes margins around url/search bar */
#urlbar, .searchbar-textbox{
  font-size: 10px !important;
  margin: 0 !important;
  max-height: 0px !important;
}


/* Remove padding above tabbar in compact mode */
/* seems pointless
#main-window[sizemode="normal"] > #titlebar {
  -moz-appearance: initial !important;
}
*/
/* Remove empty space before first tab
Delete this rule if you need a space to drag the window*/
/*
#TabsToolbar .titlebar-placeholder[type="pre-tabs"]{
  display: none !important;
}
*/

/* Remove border between tabs
Delete this rule if you want separators between background tabs */
/*
.tabbrowser-tab::after, .tabbrowser-tab::before {
  border-left: none !important;
}
*/
