/* userChrome.css is for modifying user specific Firefox css */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Removing the scroll bar from firefox windows */
:-moz-any(#content,#appcontent) browser{
    /* NOTE the margine removal is permanent, even when no scroll bar.
     * Uncertain of workaround.
     */
    margin-right:-14px!important;
    overflow-y:scroll;
    /* removed because the bottom scroll bar is much rarer.
    margin-bottom:-14px!important;
    */
    overflow-x:scroll;
}

/* can we universally change all scroll bars to be Dark, rather than white and
 * light gray? */

/* can we hide the scroll bar when not scrolling? if so can we make it
 * transparent as well? */

/* Removes the forward and back button */
#forward-button, #back-button, #PlacesChevron, #PanelUI-menu-button {
  /*display: none !important; */
  transform: scale(0.8) !important;
  padding: 0px !important;
  margin: -6px -5px 0px -5px !important;
}
#nav-bar-overflow-button {
  transform: scale(0.8) !important;
  padding: 0px !important;
  margin: -6px -5px 0px -12px !important;
}


/* Hides New Tab Button */
/* Doesn't seem to do anythin.
#new-tab-button .tab-close-button{
  display: none !important;
  transform: scale(1, 1.9) !important;
  visibility: collapse !important;
}
*/

/* Change bookmark toolbar menu size */
menuitem, menu {
  padding: 0 !important;
  margin: 0 !important;
  font-size: 10px !important;
}
/* Shrinks icons to left in bookmark bar, more hamburger, etc.*/
.menu-iconic-left, .tab-icon-image {
  transform: scale(0.8) !important;
  padding: 0px !important;
  margin: 0px 0px 0px -5px !important;
}
#personal-bookmarks {
  padding: 0px !important;
  margin: -6px 0px 0px 0px !important;
}
#personal-bookmarks .toolbarbutton-icon{
  transform: scale(0.8) !important;
  padding: 0px !important;
  margin: 0px 0px 0px -7px !important;
}

/* Shrinks Tab bar height */
#TabsToolbar, .tabbrowser-tab, toolbar {
  max-height: 20px !important;
  font-size: 9px !important;
  padding: 0 !important;
  margin: 0px 0px 0px -3px !important;
}
/*** Shrink Tab Close buttons ***/
.tabbrowser-tab .tab-close-button {
  transform: scale(0.8) !important;
}


/* Cheating way of losing the bottom excess of navbar */
#nav-bar {
  padding: 0 !important;
  margin: 0px !important;
  max-height: 23px !important;
  font-size: 9px !important;
}

/* removes margins around url/search bar */
#urlbar, .searchbar-textbox{
  font-size: 10px !important;
  max-height: 0px !important;
  margin: 0px !important;
  padding: 0px!important;

  border-style: solid !important;
  border-width: 1px !important;
  border-color: rgba(20, 20, 20, 1.0) !important;
}

/*URL dropdown bar blur*/
.urlbarView {
    /*background-image: url(image/noise-512x512.png) !important;*/
    background-color: rgba(0, 0, 0, 0.8) !important;
    backdrop-filter: blur(32px) !important;
}
#urlbar-background {
    display: none !important;
}

/*Transform URL container icons*/
*#urlbar-input-container > box,
#page-action-buttons{
  transform: scale(0.9) !important;
  padding: 0px !important;
  margin: 0px !important;
}
/* Set URL background color*/
#urlbar .urlbar-input-box {
    margin: 0px !important;
    padding-left: 3px !important;
    background-color: rgba(0, 0, 0, 1.0) !important;
}

/* --- Reduce row paddings to make them more compact */
.urlbarView-row {
    padding: 2px !important;
    line-height: 1.20em !important;
}
.urlbarView-row-inner {
    padding-bottom: 8px !important;
}
.urlbarView {
    margin: 0px !important;
    width: 100% !important;
}

/* Disable Urlbar Animation */
#urlbar[breakout][breakout-extend][breakout-extend-animate] > #urlbar-background {
    animation-name: none !important;
    animation: none !important;
}

/* --- More compact "Search with Google" rows */
.urlbarView-row[dynamicType="onboardTabToSearch"] > .urlbarView-row-inner {
    min-height: auto !important;
    width: auto !important;
}
.urlbarView-row[dynamicType="onboardTabToSearch"] > .urlbarView-row-inner > .urlbarView-no-wrap > .urlbarView-favicon {
    margin-bottom: -1px;
}


/* Remove padding above tabbar in compact mode */
/* seems pointless
#main-window[sizemode="normal"] > #titlebar {
  -moz-appearance: initial !important;
}
*/

/* Remove empty space before first tab
Delete this rule if you need a space to drag the window*/
/*
#TabsToolbar .titlebar-placeholder[type="pre-tabs"]{
  display: none !important;
}
*/

/* Remove border between tabs
Delete this rule if you want separators between background tabs */
/*
.tabbrowser-tab::after, .tabbrowser-tab::before {
  border-left: none !important;
}
*/
